* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #f77e0d, #deff05);
}


.calculator {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator>button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid rgb(0, 0, 0);
    outline: none;
}

.calculator>button:hover {
    transform: scale(1.07);

}

.screen {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    color: white;
    word-wrap: break-word;
    word-break: break-all;
}

.screen .previous-operand {
    color: rgb(14, 179, 52);
    font-size: 1.5rem;
}

.screen .current-operand {
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
}

.span-two {
    grid-column: span 2;
}