* {
    box-sizing: border-box;
}


.calculator {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    border: 7px solid black;
    border-radius: 20px;
    background-color: dimgray;
}

.calculator>button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid rgb(0, 0, 0);
    outline: none;
}

.calculator>button:hover {
    transform: scale(1.1);

}

.screen {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    color: white;
    word-wrap: break-word;
    word-break: break-all;
}

.screen .display-before {
    color: rgb(14, 179, 52);
    font-size: 1.5rem;
}

.screen .display-after {
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
}